
pandas==2.2.2
structlog==24.2.0
requests==2.32.3
SQLAlchemy==2.0.30
google==3.0.0
fastapi==0.111.0
pydantic==2.7.4
db==0.1.1
PyJWT==2.8.0
services==0.1.1
unstructured==0.14.6
openai==0.28.0
aiofiles==23.2.1
pytz==2024.1